.imgForm {
  border: transparent;
  cursor: pointer;
  border-radius: 10%;
  width: 100%;
  height: 100%;
  top: 0%;
  display: flex;
}

.icon-upload-image {
  position: absolute;
  left: 38%;
  top: 30%;
  width: 50px;
  height: 50px;
}

.img-upload {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  border: transparent;
  object-fit: cover;
  margin: 5%;
}

.imgForm p {
  position: absolute;
  top: 72%;
  left: 23%;
  font-weight: bold;
  cursor: pointer;
}