@media screen and (max-width: 1250px) {
    .create-card-form {
        margin-top: 5%;
    }

    .title-date {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #title,
    #date {
        width: 75%;
        text-align: center;
    }

    .activity-container p {
        margin-top: 3%;
        text-align: center;
    }

    .activity-list {
        justify-content: space-around;
    }

    .time-duration {
        margin-top: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .time-start-end {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .time-start,
    .time-end {
        display: flex;
        gap: 20px;
    }

    .time-duration button {
        width: 200px;
        height: 50px;
        font-size: 24px;
    }

    .taskStatus p {
        margin-top: 3%;
        text-align: center;
    }

    .btn-submit,
    .btn-cancel {
        padding: 8px 30px;
    }
}



@media screen and (max-width: 768px) {
    .dot {
        display: none;
    }

    .activity-list {
        justify-content: space-evenly;
    }
}



@media screen and (max-width: 600px) {

    .time-start,
    .time-end {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}