@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Sono:wght@300;400;500;700&display=swap");

form {
  top: 20px;
  color: black;
  position: relative;
  width: 740px;
  margin: 0 auto;
}

.create-card-form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.title-date {
  position: relative;
  display: flex;
  justify-content: start;
  gap: 20px;
}

#title,
#date {
  font-family: "Sono", sans-serif;
}

#title {
  width: 250px;
  border: none;
  border-bottom: 1px solid #ff7b54;
  outline: none;
  color: #ff7b54;
}

#date {
  border: none;
  border-bottom: 1px solid #ff7b54;
  outline: none;
  color: #ff7b54;
}

#date::-webkit-calendar-picker-indicator {
  filter: invert(56%) sepia(66%) saturate(1162%) hue-rotate(325deg)
    brightness(103%) contrast(105%);
}

/* --------- activity --------- */
.activity-container {
  margin-top: 10px;
}

.activity-container p {
  text-align: left;
}

.activity-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3px;
}

.activity-image {
  height: 50px;
  width: 50px;
}

.tile {
  height: 80px;
  width: 90px;
  position: relative;
}

.tile:hover {
  border: 3px solid rgba(216, 216, 216, 0.275);
  border-radius: 15px;
}

.tile input[type="radio"] {
  opacity: 0;
  position: relative;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10%;
  cursor: pointer;
  border: 3px solid transparent;
  outline: none;
  box-shadow: 5px 5px 5px rgba(1, 8, 15, 0.05);
}

.activity-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  cursor: pointer;
  color: #808080;
}

/* when mouse hover: words turn to orange */
.activity-label:hover {
  color: orange;
}

/* when mouse hover: icon get more bigger */
.tile input[type="radio"]:hover + label .activity-image {
  width: 60px;
  height: 60px;
}

/* after clicked, border appear */
.tile input[type="radio"]:checked + .activity-label {
  transform: scale(1.05);
  border: 3px solid orange;
  border-radius: 15px;
}

/* after clicked, words turn to orange */
.tile input[type="radio"]:checked + .activity-label {
  color: orange;
}

/* --------- duration --------- */
.time-duration {
  margin-top: 15px;
  display: flex;
  justify-content: start;
  gap: 20px;
}

.time-start-end {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.time-duration button {
  font-family: "Sono", sans-serif;
  font-weight: 600;
  padding: 0 15px;
  color: white;
  background-color: #ff7b54;
  border: #ff7b54;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.time-duration button:hover {
  background-color: #ff5f33;
  transform: scale(1.1);
}

.time {
  font-family: "Sono", sans-serif;
  border: none;
  border-bottom: 1px solid #ff7b54;
  outline: none;
  color: #ff7b54;
}

.time::-webkit-calendar-picker-indicator {
  filter: invert(56%) sepia(66%) saturate(1162%) hue-rotate(325deg)
    brightness(103%) contrast(105%);
}

.alert-duration {
  /* border: 1px solid black; */
  color: #ff7b54;
  right: 0;
  position: absolute;
  font-size: small;
  letter-spacing: -5;
}

/* --------- task satus --------- */
.taskStatus {
  margin-top: 15px;
}

.taskStatus p {
  text-align: left;
}

.wrapper {
  /* background: #fff; */
  height: 25px;
  width: 662px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5px;
}

.wrapper .option {
  background: #ffffff;
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 3px;
  transition: all 0.3s ease;
}

.option {
  transition: transform 0.3s;
}

.option:hover {
  transform: scale(1.1);
}

/* กดแล้ว ตัวbgในช่องสี่เหลี่ยมของแต่ละช้อยส์จะเปลี่ยนจากสี #fff เป็นสีที่กำหนด */
#complete:checked ~ .option-1 {
  background: #96d674;
}

#inProgress:checked ~ .option-2 {
  background: #fff476;
}

#fail:checked ~ .option-3 {
  background: #fd8888;
}

.wrapper .option .dot {
  height: 13px;
  width: 13px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
  bottom: 3%;
  transition: all 0.3s ease;
}

/* opacity: ถ้ายังไม่กดอะไรจะตัววงกลมจะไม่แสดงสี */
/* transition: all 0.3s ease; เวลาเปลี่ยนไปกดอีกปุ่ม ตัว dot จะขัยบ 3 วิ */
.wrapper .option .dot::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  left: 1.5px;
  top: 1.5px;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

.dot-1::before {
  background: #96d674;
}

.dot-2::before {
  background: #fff476;
}

.dot-3::before {
  background: #fd8888;
}

/* opacity: 1; = กดเลือกแล้วขึ้นสีในวงกลมช่องนั้น */
#complete:checked ~ .option-1 .dot::before,
#inProgress:checked ~ .option-2 .dot::before,
#fail:checked ~ .option-3 .dot::before {
  opacity: 1;
  transform: scale(1);
}

.wrapper .option span {
  color: #808080;
  font-size: 15px;
}

/* กดแล้วตัวอักษรสีเทาจะกลายเป็นสี #fff */
#complete:checked ~ .option-1 span,
#inProgress:checked ~ .option-2 span,
#fail:checked ~ .option-3 span {
  color: white;
}

/* hide input radio button */
.wrapper #complete,
.wrapper #inProgress,
.wrapper #fail {
  opacity: 0;
  position: absolute;
}

/* --------- task satus --------- */
#textbox {
  width: 100%;
  position: relative;
  border: none;
  outline: none;
  color: #ff7b54;
  padding: 8px;
  font-weight: 540;
  border-radius: 5px 5px 5px 5px;
  margin-top: 15px;
  font-family: "Sono", sans-serif;
  font-weight: 500;
  border-bottom: 1px solid #ff7b54;
  resize: none;
}

/* submit button */
.create-buttons {
  display: flex;
}

.btn-submit {
  position: relative;
  font-family: "Sono", sans-serif;
  font-weight: 600;
  font-size: medium;
  padding: 8px 30px;
  margin: 0 auto;
  margin-top: 2%;
  color: white;
  background-color: #ff7b54;
  border: #ff7b54;
  border-radius: 5px;
  cursor: pointer;
  top: 0.5rem;
  transition: transform 0.3s, background-color 0.3s;
}

.btn-submit:hover {
  background-color: #ff5f33;
  transform: scale(1.1);
}

.btn-cancel {
  position: relative;
  font-family: "Sono", sans-serif;
  font-weight: 600;
  font-size: medium;
  padding: 8px 30px;
  margin: 0 auto;
  margin-top: 2%;
  color: white;
  background-color: lightgray;
  border: lightgray;
  border-radius: 5px;
  cursor: pointer;
  top: 0.5rem;
  transition: transform 0.3s, background-color 0.3s;
}

.btn-cancel:hover {
  background-color: darkgray;
  transform: scale(1.1);
}

/* --------- edit card  ------------*/

.btn-save {
  position: relative;
  font-family: "Sono", sans-serif;
  font-weight: 600;
  font-size: medium;
  padding: 4px 15px;
  width: 12%;
  color: white;
  background-color: #ff7b54;
  border: #ff7b54;
  border-radius: 5px;
  cursor: pointer;
  top: 0.5rem;
  left: -10%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.loading-icon-edit {
  top: 1rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 0.1rem;
}
