.blankCard {
    border: 0.5px solid rgb(204, 204, 204);
    border-radius: 20px;
    width: 650px;
    height: 170px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
    position: relative;
    transition: transform 0.2s;
    cursor: pointer;
}

.blankCard-color {
    background-color: rgb(204, 204, 204);
    height: 20%;
    width: 100%;
    border-radius: 0 0 19px 19px;
    position: absolute;
    top: 80%;
}

.plusCharacter {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: rgb(138, 138, 138);
    font-weight: bold;
}

.blankCard.hovered {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}