.form {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  padding: 2rem 4rem;
  width: 45%;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-title {
  margin-top: 0;
  text-align: left;
  font-size: 2rem;
}

.allInform {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.register-field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.allInform input {
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  /* margin-bottom: 10px; */
  width: 100%;
  font-family: "Sono", sans-serif;
  margin-top: 10px;
}

.allInform label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2rem;
}

.wrap {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 20px auto;
  border-radius: 50%;
  background: url("/generic/Login_logo.png");
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
}

.wrap #uploadInput {
  display: none;
}

#profilePhoto {
  border-radius: 50%;
  width: 200%;
  height: 200%;
  object-fit: cover;
}

#profilePhoto.uploaded-picture {
  width: 100%;
  height: 100%;
}

.plus-symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #555;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.wrap:hover .plus-symbol {
  transform: translate(-50%, -50%) scale(1.2);
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  text-align: center;
  gap: 2rem;
  font-size: 1rem;
}

.radio input[type="radio"] {
  font: inherit;
  border-radius: 50%;
  width: 1.15rem;
  height: 1.15rem;
}

.radio input[type="radio"]:checked {
  appearance: none;
  background: #ff7b54;
  border: 3px solid #fff;
  outline: 1px solid #ff7b54;
}

.register-button {
  background-color: orangered;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin: 30px auto 10px;
  width: 100%;
  font-family: "Sono", sans-serif;
}

.register-button:hover {
  background-color: #0058b5;
}

.texterr {
  color: red;
  font-size: small;
}

.loading-icon {
  position: relative;
  top: -2rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.error-message {
  color: red;
}

@media screen and (max-width: 768px) {
  .form {
    width: 100%;
    margin-bottom: 5%;
  }

  .register-field-container {
    text-align: center;
  }
}

@media screen and (max-width: 1300px) {
  .form {
    padding: 5%;
  }
}