/* 
Color -->
Main : #FF7B54
50% : #FFBDAA

*/

.homeNav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: #FF7B54;
    font-size: 1.25rem;
    font-weight: 600;
    /* position: relative; */
    position: sticky;
    top: 0;
    z-index: 10;
    color: #fff;
}

.logo-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo-link {
    text-decoration: none;
}

.homeNav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    font-size: 1.5rem;
}

.homeNav li:last-child {
    word-spacing: -0.4rem;
}

.nav-login-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    position: relative;
}

.navbar-link:hover,
.navbar-link:active {
    color: #FFBDAA;
    transition: all linear 0.15s 0.05s;
}

.navbar-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFBDAA;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.8rem;
    background-color: grey;
    border-radius: 9999px;
    border: 1px solid black;
    overflow: hidden;
}

.profile-image img {
    width: 150%;
    height: auto;
}

.profile-username {
    cursor: pointer;
}

.dropdown-btn {
    display: none;
    align-items: center;
}

.dropdown-menu {
    /* display: flex; */
    /* display: none; */
    flex-direction: column;
    position: absolute;
    right: 48px;
    top: 60px;
    font-size: 0.8rem;
    color: black;
    background-color: #FFA860;
    padding: 0.8rem;
    padding-top: 0;
    border-radius: 8px;
    z-index: 9999;
}

.dropdown-menu a {
    cursor: pointer;
}

.arrow-up {
    width: 0;
    height: 0;
    position: absolute;
    top: -8px;
    right: 6px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #FFA860;
}


/* MEDIA QUERY */

@media only screen and (max-width: 990px) {

    .profile-container {
        position: absolute;
        right: 20px
    }

    .nav {
        display: none !important;
    }

}

@media only screen and (max-width: 650px) {

    .homeNav {
        padding: 1rem 1.5rem;
    }

    .profile-container, .nav-login-container {
        display: none;
    }

    .dropdown-btn {
        display: flex;
    }
}